{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" a href="{% static 'app/css/all.min.css' %}">
    <link rel="stylesheet" a href="{% static 'app/css/bootstrap.min.css' %}">
</head>
<body>
{% block student %}
{% endblock student %}

  


<script src="{% static 'app/js/all.min.js' %}"></script>
<script src="{% static 'app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'app/js/jquery.js' %}"></script>
<script src="{% static 'app/js/popper.js' %}"></script>
</body>
</html>